:root {
    --primarycolor: rgba(212, 0, 255, 0.137);
    --secondcolor: #ff448f;
}

body {
    background-color: white;
}

.nav-logo {
    width: auto;
    max-height: 100px;
    min-height: 75px;
}

.nav-item a {
    color: black;
}

.nav-link {
    margin-left: 2px;
    margin-right: 2px;
}

.text-hover-white:hover {
    background-color: var(--secondcolor);
    color: white !important;
}

.icon-product {
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: flex;
    margin-top: 2px;
    margin-right: 5px;
    margin-left: 2px;
    padding: 0;
}

.juguetes {
    background-image: url(../icons/juguetes.svg);
}

.lubricantes {
    background-image: url(../icons/lubricantes.svg);
}

.lenceria {
    background-image: url(../icons/lenceria.svg);
}

.bdsm {
    background-image: url(../icons/bdsm.svg);
}

.salud {
    background-image: url(../icons/salud.svg);
}

.banner-vibrar {
    background-color: var(--primarycolor);

    border-bottom: 4px solid var(--secondcolor);
    border-top: 4px solid var(--secondcolor);
}

.text-vibrar {
    color:  black;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
        1px 1px 0 white;
}

.line-separator {
    color: rgba(0, 0, 0, 0.377);
}

.section-products {
    padding: 80px 0 54px;
}

.header-popular {
    margin-bottom: 60px;
}

.header-popular h3 {
    font-size: 1rem;
    color: var(--secondcolor);
    font-weight: 500;
}

.header-popular h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #444444;
}

.section-products .single-product {
    margin-bottom: 26px;
}

.section-products .single-product .part-1 {
    position: relative;
    height: 290px;
    max-height: 290px;
    margin-bottom: 20px;
    overflow: hidden;
}

.section-products .single-product .part-1::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 0.3s;
}

.section-products .single-product:hover .part-1::before {
    transform: scale(1.2, 1.2) rotate(5deg);
}

.section-products #product-1 .part-1::before {
    background: url("../img/productos/SatisfyerPro2.webp") no-repeat center;
    background-size: cover;
    transition: all 0.3s;
}

.section-products #product-2 .part-1::before {
    background: url("../img/productos/MamboLavanda.webp") no-repeat center;
    background-size: cover;
}

.section-products #product-3 .part-1::before {
    background: url("../img/productos/brillyglam_rabbit.png") no-repeat center;
    background-size: cover;
}

.section-products #product-4 .part-1::before {
    background: url("../img/productos/zumba_masturbador.webp") no-repeat center;
    background-size: cover;
}

.section-products #product-5 .part-1::before {
    background: url("../img/productos/Lelo_control_remoto.jpg") no-repeat center;
    background-size: cover;
}

.section-products #product-6 .part-1::before {
    background: url("../img/productos/liebe_lubricante.webp") no-repeat center;
    background-size: cover;
}

.section-products #product-7 .part-1::before {
    background: url("../img/productos/Esposas.webp") no-repeat center;
    background-size: cover;
}

.section-products #product-8 .part-1::before {
    background: url("../img/productos/lovense-vibrador.webp") no-repeat center;
    background-size: cover;
}

.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
    position: absolute;
    top: 15px;
    left: 0px;
    color: #ffffff;
    background-color: var(--secondcolor);
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
    left: 0;
    background-color: #444444;
}

.section-products .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    left: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
    bottom: 30px;
    opacity: 1;
}

.section-products .single-product .part-1 ul li {
    display: inline-block;
    margin-right: 4px;
}

.section-products .single-product .part-1 ul li i {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ffffffda;
    color: #000000;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
}

.section-products .single-product .part-1 ul li i:hover {
    cursor: pointer;
    color: var(--secondcolor);
}

.section-products .single-product .part-2 .product-title {
    font-size: 1rem;
}

.section-products .single-product .part-2 h4 {
    display: inline-block;
    font-size: 1rem;
}

.section-products .single-product .part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}

.section-products .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}

.badge-cart {
    font-size: 9px;
    margin-left: 26px;
    margin-top: 11px;
    background-color: var(--secondcolor);
}

.bg {
    background-color: var(--primarycolor);
}

#div-ofrecemos {
    border-top: 4px solid var(--secondcolor);
    border-bottom: 4px solid var(--secondcolor);
}

.img-cart {
    height: 25px;
    margin-right: 5px;
}


/* Popup */
.img-popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.img-popup img {
    max-width: 900px;
    width: 100%;
    opacity: 0;
    transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px);
}

.close-btn {
    width: 35px;
    height: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.close-btn .bar {
    height: 5px;
    background: rgb(43, 43, 43);
}

.close-btn .bar:nth-child(1) {
    transform: rotate(45deg);
}

.close-btn .bar:nth-child(2) {
    transform: translateY(-5px) rotate(-45deg);
}

.opened {
    display: flex;
}

.opened img {
    animation: animatepopup 1s ease-in-out 0.8s;
    -webkit-animation: animatepopup 0.3s ease-in-out forwards;
}

@keyframes animatepopup {
    to {
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}

.map-responsive{
    justify-content: center;
    width: 100%;
}

footer {
    border-top: 4px solid var(--secondcolor);
}



@media screen and (max-width: 767px) {
    .text-hover-white:hover {
        background-color: rgba(255, 255, 255, 0);
        color: black !important;
    }

    .badge-cart {
        margin-left: 18px;
    }

    .nav-logo {
        height: 45px;
        margin-right: 2%;
    }

    .navbar-nav .cart-open {
        position: relative;
        margin-left: -188px;
        margin-top: 38px;
    }

    .navbar-nav .products-open {
        margin-left: -108px;
        margin-top: 38px;
    }

}